.c1{
    background-color: rgb(237, 207, 167);
}
.card-title{
    font-size:xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card-text{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    text-align: center;
    margin: auto;
    
}